body
	color: #151515
	letter-spacing: -0.03em
	font-size: 16px
	line-height: 140%
	font-weight: 300
	font-family: 'Noto Sans', sans-serif

.container
	padding: 0 15px
	max-width: 1230px
	width: 100%
	margin: 0 auto

a,button
	transition: all .3s

.hidden
	display: none !important
	z-index: -11

.title-md
	font-size: 30px
	line-height: 110%

input
	background-color: transparent
	border: none
	transition: all .3s

input:not([type="checkbox"]),
input:not([type="radio"]),
select
	box-sizing: border-box

.btn
	border: 1px solid $black
	padding: 14px 15px
	display: flex
	font-weight: 500
	justify-content: center
	align-items: center
	text-align: center
	cursor: pointer
	&:hover
		background-color: $black
		color: #fff

.mb-3
	margin-bottom: 30px

.form-input
	padding: 14px 10px
	border: 1px solid #B4B4B4
	width: 100%
	display: inline-block


.menu-column li:not(:last-child)
	margin-bottom: 20px
